<header class="header_area">
    <div class="top_menu row m0">
        <div class="container-fluid">
            <div class="float-left">
                <p>Call Us: 012 44 5698 7456 896</p>
            </div>
            <div class="float-right">
                <ul class="right_side">
                    <li>
                        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                    
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
                    </li>
                    <li>
                        <a href="#">
                            My Account
                        </a>
                    </li>
                    <li>
                        <a href="contact.html">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" routerLink="/" routerLinkActive="active">
                    <img src="../../../assets/img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                 aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <div class="row w-100">
                        <div class="col-lg-7 pr-0">
                            <ul class="nav navbar-nav center_nav pull-right">
                                <li class="nav-item active">
                                    <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
                                </li>
  
                                <li class="nav-item submenu dropdown">
                                       
                                        <a class="nav-link" routerLink="/create-new-blog" routerLinkActive="active" (click)="onClick()">Create New Blog</a>           
                                    </li>
                                <li class="nav-item submenu dropdown">
                                    <a class="nav-link" routerLink="/blogs-list" routerLinkActive="active">Blog</a>           
                                </li>
                                <!-- <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/blogs-list" routerLinkActive="active">Blog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/blogDetails" routerLinkActive="active">Blog Details</a>
                                        </li>
                                    </ul>
                                </li> -->
                                
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-5">
                            <ul class="nav navbar-nav navbar-right right_nav pull-right">
                                <hr>
                                <li class="nav-item">
                                    <a href="#" class="icons">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <hr>

                                <li class="nav-item">
                                    <a href="#" class="icons">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <hr>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

